##  Today Topics
* string len
* string methods (upper, lower, title)
* Logical operators
* Identity Operators (is, is not)

In [1]:
## len -> length of characters show in string
fname = "Hamza"
len(fname)

5

In [2]:
fname = "Hamza Rahim"  # space is also included
len(fname)

11

In [3]:
## basics methods of string
# lower(), upper(), title()
name = "Misbah"
name.lower()

'misbah'

In [4]:
name = "Misbah"
print(name.lower())

misbah

In [5]:
name = "Misbah"
res = name.lower()
print(res)

misbah

In [7]:
# upper -> convert to capital
name = "misbah"
name.upper()

'MISBAH'

In [8]:
# title() -> catipalize only the first character
name = "misbah"
name.title()

'Misbah'

In [9]:
name = "misbah khan"
name.title()

'Misbah Khan'

### Logical Operators
* and 
* or
* not ( != )

In [4]:
num1 = 2
num2 = 5
res1 = num1 == 2  ## return boolean
res2 = num2 == 5
# print(res1)
# print(res2)
#    comparison   logical       comp
res = num1 == 4     and       num2 == 5  # one condition become false it will return false
res

False

In [5]:
# or
num1 = 2
num2 = 5
#    comparison   logical       comp
res = num1 == 4     or       num2 == 5  # one condition become true it will return true
res

True

In [7]:
# not !=
num1 = 5
num2 = 6
num1 != num2

True

### Identity Operators
* is ( work like == )
* is not ( work like != )

In [9]:
# is is like ==
num1 = 4
num2 = 4
num1 is num2

True

In [10]:
nam1 = "hamza"
nam2 = "khan"
nam1 is nam2

False

In [11]:
nam1 = "hamza"
nam2 = "hamza"
nam1 is nam2

True

In [12]:
# is not ( != )
name1 = "misbah"
name2 = "khan"
name1 is not name2

True

In [13]:
name1 = "misbah"
name2 = "misbah"
name1 is not name2

False