## Today Topics
* list with if-else
* Tuple

In [1]:
data = ["hamza","khan","misbah","user"]
if data[0] == "hamza":
    print("User Verified")
else:
    print("User Not Verified")

User Verified

In [2]:
data = ["hamza","khan","misbah","user"]
if data[0] == "khan":
    print("User Verified")
elif data[0] == "hamza":
    print("verified")
else: # when no condition is true then the else body will run
    print("User Not Verified")

verified

In [3]:
data = ["hamza","khan","misbah","user"]
for i in data:
    print(i)

hamza
khan
misbah
user

In [4]:
data = ["hamza","khan","misbah","user"]
for i in data:
    if i == "khan":
        print("verified")
    else:
        print("Not Verified")

Not Verified
verified
Not Verified
Not Verified

## Tuple 
* same as list
* syntax:
    * mytuple = (1,2,3,4,5)
* Second differce from list is that tuple cannot be changed.

In [5]:
## Tuple same as List
mytuple = (1,3,5,7,9)
type(mytuple)

tuple

In [7]:
mytuple = (1,2,3,4,5)
mylist = [1,2,3,4,5]
mylist[3] ## maximum methods are same
mytuple[3]

4

In [9]:
mytuple = (1,2,3,4,5)
mylist = [1,2,3,4,5]
mylist.append("8")
print(mylist)

[1, 2, 3, 4, 5, '8']

In [10]:
mytuple = (1,2,3,4,5)
mylist = [1,2,3,4,5]
mytuple.append(8) ## cannot change tuple
mytuple

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
mytuple = (1,2,3,4,5)
mylist = [1,2,3,4,5]
mylist[0] = 9
mylist

[9, 2, 3, 4, 5]

In [12]:
mytuple = (1,2,3,4,5)
mylist = [1,2,3,4,5]
mytuple[0] = 9
mytuple

TypeError: 'tuple' object does not support item assignment