## Today Topics
* Membership Operators
    * in
    * not in
* user Input
* If else Statements
* Number Methods

### Membership Operators
* in
* not in

In [1]:
# in
name = "Hamza"
word = "s"
word in name

False

In [2]:
name = "Hamza"
word = "a"
word in name

True

In [6]:
name = "Hamza1" # string is like container
word = "1" 
word in name

True

In [7]:
# not in
nam1 = "Schoole"
n = 's'
n not in nam1

True

In [11]:
database = "HamzaKhan"
userdata = "k"
userdata.lower() in database.lower()

True

In [14]:
user = "hanza"
user.capitalize()

'Hanza'

## User Input
* syntax
    * input("Write your statement")
* input by default return string value

In [5]:
name = input("Enter Your Name")
sentence = f"Welcome {name}"
sentence

'Welcome {name}'

In [8]:
## type casting
name = "23"
print(type(name))
change = int(name)
type(change)

<class 'str'>

int

In [9]:
num1 = int(input("Enter First Number"))
num2 = int(input("Enter Second Number"))
sum = num1 + num2
sum

5

## If - else

In [10]:
## logical condition or comparison 
num1 = 5
res = num1 == 4  ## condition checking
res

False

In [13]:
## database where my data is stored, when new user login check data with database
database = "Hamza"
newData = "khan"
res = newData == database
res

False

In [14]:
database = "Hamza"
newData = "Hamza"
res = newData == database
res

True

In [15]:
database = "Hamza"
newData = "Hamza"
if newData == database:
    print("Welcome")
else:
    print("Sorry")

Welcome

In [16]:
database = "Hamza"
newData = "khan"
if newData == database:
    print("Welcome")
else:
    print("Sorry")

Sorry

## Number Methods

In [17]:
num1 = 6
num1.is_integer()

True