## Today Topics
* Comments
    * comments with hash and triple string
* String Concatination
    * plus methods and fstring
* Assignments Operators
    * = , += , -= , *= , /= , //= , **= , %=

## Comments

In [1]:
# this is first comment
num1 = 3 # number
num1

3

In [2]:
# triple string comment -> docstring
""" 
This is my first heelo python
I am recently working
"""
def sum(num1,num2):
    """ This Function used to add two numbers """
    print(num1 + num2)

sum()

## string concatination / operators
* adding string values
* variables adding with string

In [3]:
num1 = 2
num2 = 4
num1 + num2

6

In [4]:
num1 = "2"
num2 = "4"
num1 + num2

'24'

In [6]:
# string plus methods
name = "Misbah"
statement = "I am "
statement + name

'I am Misbah'

In [8]:
name = "Misbah"
"I am "+ name

'I am Misbah'

### syntax of f-string

* name = "Misbah"
* f"I am {name}"

In [13]:
# f-string methods
name = "Misbah"
# "I am "+ name
f"I am {name}"

'I am Misbah'

In [18]:
country = 6
f"I love my {country}" ## benefits variable value easily print with string text

'I love my 6'

In [22]:
country = "Pakistan"
print(f"I love {country}")

I love Pakistan

In [27]:
num1 = "2"
num2 = "6"
f"I have two numbers {num1} {num2}"

'I have two numbers 2 6'

## assigments operators
* assign values to variables

In [28]:
## Most commonly used = , +=, -=
name = "hamza" # assign any value with equal sign
num = 3

In [32]:
# +=
num1 = 2
print(f"Before {num1}")
num1 = num1 + 1  # addition
print(f"after sum {num1}")   # old methods additon updation

Before 2
after sum 3

In [33]:
num1 = 2
num1 += 1 # first add the number and then assign the value to that variables
num1

3

In [34]:
# -=
num1 = 2
print(f"Before {num1}")
num1 = num1 - 1  # addition
print(f"after sum {num1}")

Before 2
after sum 1

In [35]:
num1 = 2
num1 -= 1
num1

1

In [36]:
# *=
num1 = 2
num1 = num1 * 2
num1

4

In [37]:
num1 = 2
num1 *= 2
num1

4

In [40]:
# /=
num1 = 4
num1 /= 2
num1

2.0

In [42]:
num1 = 5
num1 //= 2
num1

2