## Variables
### Basics Rules
* case_sensitive
* camel_case
* others

In [2]:
# case sensitive
name = "misbah"
Name = "Hamza"
print(name)
print(Name)

misbah
Hamza

In [3]:
a = 2
A = 4
print(a, A)

2 4

In [4]:
myName = "Misbah"

In [5]:
## variables name has no space
my name = "Hamza"

SyntaxError: invalid syntax (2832186292.py, line 2)

In [6]:
## variables not start with numbers
2num = ''

SyntaxError: invalid decimal literal (1607619848.py, line 2)

In [7]:
## not start with symbols
/hamza = ''

SyntaxError: invalid syntax (2578130893.py, line 2)

In [8]:
## variables name best practices
# camel_case
# snake_case
myName = "hamza"      ## camel_case
my_country = 'Pakistan'  ## snake

## Types of Variables
* Global Variable
* Local variable

In [28]:
## Global
name = "Global"
print(name)

Global

In [31]:
## local 
## has some limits or scope 
## local var is not accessible globally 
## sign: define in specific region
num = "Global"

def name_func():
    print("Body")
    """ specific area """
    names = "Pakistan" # local variable
    print(names)

name_func()
print(names)

Body
Pakistan

NameError: name 'names' is not defined

### Aritmetic Operators
* add (+)
* Minus ( - )
* Division ( / )
* mulitplication (*)
* Floor Division ( // )
* Power ( ** )
* Modulus ( % )

In [9]:
num1 = 2
num2 = 6
power = num2 ** num1
##        6 ^ 2
print(power)

36

In [1]:
## Modulus used in division -> reminder
num1 = 3 
num2 = 2
mod = num1 % num2
mod

1

In [3]:
print(4 % 2) ## reminder = 0 -> modulus

0

## comparisons operators
"""
Always return Boolean values
"""
* ==
* !=
* >=
* <=
* >
* <

In [16]:
## == -> checking two values equals
num1 = 8
num2 = 4
print(num1 == num2)

False

In [11]:
num1 = 6
num2 = 6
result = num1 == num2
print(result)

True

In [ ]:
num1 = 8
num2 = 4
result = num1 == num2
print(result)

In [17]:
## !=
num1 = 8
num2 = 4
result = num1 == num2
print(result)

True

In [18]:
num1 = 8
num2 = 8
result = num1 != num2
print(result)

False

In [19]:
num1 = 8
num2 = 6
result = num1 >= num2 ## checking two condition one equality second greater check
print(result)

True

In [20]:
num1 = 8
num2 = 8
result = num1 >= num2 ## checking two condition one equality second greater check
print(result)

True

In [21]:
num1 = 8
num2 = 8
result = num1 <= num2 ## checking two condition one equality second less than check
print(result)

True

In [22]:
num1 = 8
num2 = 6
result = num1 <= num2 ## checking two condition one equality second less than check
print(result)

False

In [23]:
num1 = 3
num2 = 5
result = num1 <= num2 ## checking two condition one equality second less than check
print(result)

True

In [25]:
num1 = 9
num2 = 5
res = num1 > num2 
print(res)

True

In [26]:
num1 = 9
num2 = 9
res = num1 > num2 
print(res)

False

In [27]:
num1 = 4
num2 = 9
res = num1 < num2 
print(res)

True