## Today Topics
* list
* list basics methods
* list slicing
* list iteration
* list with if-else

## List 
* syntax = []
    * data = [] -> list

In [ ]:
fruit1 = "apple"
fruit2 = "banana"
fruit3 = "mango"
# to save our data create a list -> as a database

In [4]:
data = []
data

[]

In [5]:
# data adds -> number, strng, boolean etc
name = ["Hamza",4,True]
name

['Hamza', 4, True]

In [7]:
address = [1,2,4]
add = [True, False]
strr = ["Hamza","khan"]
print(address, add, strr)

[1, 2, 4] [True, False] ['Hamza', 'khan']

In [8]:
print(f"Specific Statement {add}")

Specific Statement [True, False]

In [9]:
print(f"Specific Statement {add} {address}")

Specific Statement [True, False] [1, 2, 4]

In [10]:
print(f"Specific Statement {add} I am address {address}")

Specific Statement [True, False] I am address [1, 2, 4]

## list basics Methods
* append
* insert
* remove
* len

In [13]:
## append -> data add in the last of list
mydata = ["hamza","khan"]
mydata = ["hamza","khan", 'misbah'] # weak approach
mydata.append("last")
mydata

['hamza', 'khan', 'misbah', 'last']

In [16]:
## Indexing of List
data = ['hamza',"khan",'misbah']
# index   0        1      2

In [17]:
## checking single data
## syntax write a name of list plus square bracket inside add index number -> nameofList[indexNumber]
mydata[0]

'hamza'

In [15]:
# ['hamza', 'khan', 'misbah', 'last']
mydata[2]

'misbah'

In [18]:
## insert -> add data on secific location
mydata.insert(2,"I am Insert")  # add data on index 2 location
mydata

['hamza', 'khan', 'I am Insert', 'misbah', 'last']

In [24]:
## remove > remove the data
mydata = ['hamza', 'khan', 'misbah', 'last']
mydata.remove("khan")
mydata

['hamza', 'misbah', 'last']

In [25]:
mydata.remove("khan") ## cannot remove the data which is not yet present in list

ValueError: list.remove(x): x not in list

In [26]:
len(mydata)

3

## list slicing
* extract specific data from list -> slicing
* syntax 
    * listName + plus square brackets + starting INdex value + :(colon) + last end Index
    * list[1:4]

In [27]:
# slicing
newList = [1,2,3,4,5]
# index    0 1 2 3 4 
newList[1] # extract single value

2

In [28]:
saveData = newList[1:3] # cannot include data of index 3 
saveData

[2, 3]

In [29]:
newList = [1,2,3,4,5]
newList[0:3]

[1, 2, 3]

In [30]:
newList = [1,2,3,4,5]
newList[:3] # shortcut methods

[1, 2, 3]

In [31]:
## list negative INdex
newList = [1,2,3,4,5]
print(newList[4]) ## methods of positive indexing start from 0
newList[-1] ## methods of negative indexing start from -1

5

5

## list Iteration
* loops used to iterate over the data 
    * for loops 
        * syntax => for varName in myuser:

In [33]:
myuser = [1,2,4,5,6,7, "string", "khan", True]
## check and extract single data from list or database
## for loop
for i in myuser:
    print(i)

1
2
4
5
6
7
string
khan
True

In [34]:
myData = ["Hamza","Khan","Last"]
for n in myData:
    print(n)

Hamza
Khan
Last

In [35]:
myNumber = [1,2,3,4,5]
for n in myNumber:
    sum = n + 1
    print(sum)

2
3
4
5
6